{% extends "layouts/main.html" %}

{% block pageTitle %}
Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="/condition" method="post">

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
      name: "distinctiveness",
      value: data['distinctiveness'],
      fieldset: {
      legend: {
      text: "How would you describe the distinctiveness of the habitat?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
      },
      items: [
      {
      value: "low",
      text: "Low"
      },
      {
      value: "medium",
      text: "Medium"
      },
      {
      value: "high",
      text: "High"
      },
      {
      value: "unknown",
      text: "Unknown"
      }
      ]
      }) }}

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}